src/public_libs/

/arm/JLinkLog.txt
/arm/RTE/
/arm/DebugConfig/
/arm/efm32_freertos_app.uvguix.*
/arm/efm32_freertos_bootloader_EFM32GG230.uvguix.uvguix.*
/arm/efm32_freertos_app.uvgui.*
/arm/efm32_freertos.uvmpw.*
/arm/make_log.txt

/release

/script/*.hex
/script/*.bin
/script/*.exe
/script/keys.txt
/script/out.txt
/script/aes_keys.c

.tags*